/* Mobile First */

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.column:nth-child(3), .column:nth-child(4) {
    display: none;
}

.column:nth-child(1) {
    background-color: pink;
}

.column:nth-child(2) {
    background-color: red;
}
  
/* 641px and above */
@media (min-width: 641px) {
    .column {
      width: 25%;
      display: flex;
    }
    .column:nth-child(3),
    .column:nth-child(4) {
      display: flex;
    }
    .column:nth-child(1) {
      background-color: blue;
    }
    .column:nth-child(2) {
      background-color: purple;
    }
    .column:nth-child(3) {
      background-color: grey;
    }
    .column:nth-child(4) {
      background-color: brown;
    }
}
  